@media screen and (min-width: 577px){
    .container{
        width: 577px;
    }
    .sidebar-container{
        width: 200px;
    }
    .player-container{
        width: 100vw;
    }
    .header-container{
        width: calc(100vw - 200px);
    }

    .sidebar-item-text{
        display: block;
    }
}

@media screen and (min-width: 769px){
    .container{
        width: 769px;
    }
    .player-container{
        width: 100vw;
    }
    .header-container{
        width: calc(100vw - 200px);
    }
}

@media screen and (min-width: 993px){
    .container{
        width: 993px;
    }
    .player-container{
        width: 100vw;
    }
    .header-container{
        width: calc(100vw - 200px);
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
    .player-container{
        width: 100vw;
    }
    .header-container{
        width: calc(100vw - 200px);
    }
}

@media screen and (min-width: 1400px){
    .container{
        width: 1400px;
    }
    .player-container{
        width: 100vw;
    }
    .header-container{
        width: calc(100vw - 200px);
    }
}