/***** Generics *****/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border: .5px solid gray;
}

a{
    text-decoration: none;
}

/***** Utilities *****/

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.col{
    float: left;
}

/* Flex Utilities */

.d-flex{
    display: flex;
}

.d-column{
    flex-direction: column;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-start{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

/* Backgrounds */

.bg-black{
    background-color: #000;
}
.bg-darkgray{
    background-color: #282828;
}
.bg-fadedblue{
    background-color: rgba(8, 10, 15, 0.7);
}
.bg-darkblue{
    background-color: #141922;
}

/* Colors */

.text-white{
    color: #fff;
}

.text-gray{
    color: #7A7C81;
}

/* Font Weights */

.f-weight-bold{
    font-weight: bold;
}
.f-weight-500{
    font-weight: 500;
}
.f-weight-800{
    font-weight: 800;
}

/***** Container *****/

.container{
    width: 550px;
    max-height: 1095px;
    /* border: 1px solid dodgerblue; */
}

/***** Sidebar *****/

.sidebar-container{
    display: flex;
    width: 60px;
    height: calc(100vh - 80px);
    padding: 15px;
    flex-shrink: 0;
}

.sidebar-container img{
    height: 25px;
    width: auto;
    margin: 5px 5px 5px 0;
}

#logo{
    background-image: url("img/logo-small.svg");
        background-repeat: no-repeat;
        width: 50px;
        height: 35px;
        margin-bottom: 30px;
}

.sidebar-icon-box{
    cursor: pointer;
    justify-content: center;
}

.sidebar-item-text{
    display: none;
}

#text-logo{
    display: none;
}

.playlist-column{
    padding-top: 20px;
    display: none;
    margin: 5px 0;
}

.playlist-column *{
    margin: 15px 0;
}

.playlist-column h3{
    font-size: 14px;
}

.create-playlist-box{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #A3A3A3;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.sidebar-bottom-section{
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
}

.install-app{
    display: flex;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
}

.install-app img{
    /* margin: 5px; */
    height: 20px;
    width: auto;
}

.username-box{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.username-box img{
    height: 25px;
    width: auto;
}

/***** Header *****/

.header-container{
    width: calc(550px - 60px);
    height: 80px;
    position: fixed;
    top: 0;
}

/***** Main *****/

.main-container{
    display: flex;
    padding-top: 100px;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

/***** Footer *****/

.player-container{
    width: 550px;
    height: 80px;
}